<footer>
    <p>
        &copy;
        <script>
            document.write(new Date().getFullYear());
        </script>
        Janis Gonzalez -
        <a href="https://www.bellevue.edu/">Bellevue University</a>
    </p>
</footer>