<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/css/site1.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <a href="index.ejs" class="active">HOME</a>
        <a href="boarding.ejs">BOARDING</a>
        <a href="grooming.ejs">GROOMING</a>
        <a href="training.ejs">TRAINING</a>
        <a href="">REGISTRATION</a>
        <a href="">CUSTOMERS</a>
        <a href="">APPOINTMENTS</a>
    </div>


    <header>

    </header>

    <div>
        <article>
            <h2>GROOMING</h2>
            <div class="boxy">
                <div class="row">
                    <p class="grooming-paragraph">
                        Whether you're going away on a business trip or a vacation you've waited long enough to take, your beloved pet may not be able to come alone with you, even though you wish they could. This is where Pets-R-Us comes in! We have a variety of boarding options
                        for both short and long term stays. Like a child in daycare, it's important to keep your beloved pet on a consistent routine that encompasses socialization, education and exercise. You'll have peace of mind knowing that they are
                        in a comfortable and safe environment as well as developing positive behaviors that they will be able to take home with them! Our Pets-R-Us team loves caring for your pets and will go out of their way to treat your beloved pet
                        as if they were one of their own by playing with them, caring and giving them the attention that they deserve. Your beloved pet will be happy and healthy until your return.
                    </p>
                    <div class="column">
                        <p>1 dog for 5 nights: $120</p>
                    </div>
                    <div class="column">
                        <p>2 dogs for 5 nights: $200</p>
                    </div>
                    <div class="column">
                        <p>3 dogs for 5 nights: $345</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <p>1 dog for 5+ nights: $200</p>
                    </div>
                    <div class="column">
                        <p>2 dogs for 5+ nights: $300</p>
                    </div>
                    <div class="column">
                        <p>3 dogs for 5+ nights: $400</p>
                    </div>
                </div>
                <span class="sentence"></span>
            </div>
        </article>
    </div>

    <!-- Footer -->
    <footer>
        <p>
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            Janis Gonzalez -
            <a href="https://www.bellevue.edu/">Bellevue University</a>
        </p>
    </footer>
</body>

</html>