<!----
======================================
; Title: customer-list.ejs 
; Author: Janis Gonzalez
; Date: 2/18/23
; Description: customer list for WEB-340
; Sources Used: N/A
;=====================================
---->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Customer List: Pets-R-Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--The style sheet all pages use-->
    <link rel="stylesheet" href="styles/site.css">
    <!--The Google font all pages use-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />

</head>

<body>

    <!--Calls the header (navbar) file-->
    <%- include('partials/_header.ejs') %>


        <div class="content">
            <h1>Customer List</h1>
            <p>
                Below is a list of all registered customers and their emails.
            </p>
            <% if(customer.length > 0) { %>
                <table class="table">
                    <tr>
                        <th>Customer ID</th>
                        <th>Email</th>
                    </tr>
                    <tbody>
                        <% customer.forEach(function(customer) { %>
                            <tr>
                                <td>
                                    <%= customer.customerId %>
                                </td>
                                <td>
                                    <%= customer.email %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                    <h3>Zero customers have been added to the MongoDB customer database. </h3>
                    <% } %>




        </div>

        <!--Calls the footer file-->
        <%- include('partials/_footer.ejs') %>


</body>

</html>


</body>

</html>