<!--
    ==============================================
    ;   Title: grooming.ejs
    ;   Author: Janis Gonzalez
    ;   Date: 3/04/2023
    ;   Description: grooming page for pets-r-us
    ==============================================
    -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/pets-r-us/public/styles/site1.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <a href="index.ejs" class="active">HOME</a>
        <a href="boarding.ejs">BOARDING</a>
        <a href="grooming.ejs">GROOMING</a>
        <a href="training.ejs">TRAINING</a>
        <a href="register.ejs">REGISTRATION</a>
        <a href="customer-list.ejs">CUSTOMERS</a>
        <a href="appointment.ejs">APPOINTMENTS</a>
    </div>


    <header>

    </header>

    <div>
        <article>
            <h2>GROOMING</h2>
            <div class="boxy">
                <div class="row">
                    <p class="grooming-paragraph">
                        Pets-R-Us offers grooming for all types of pets and fur types. There are three packages to choose from as well as separate services. Package 1 is for small dog breeds. Package 2 is for medium dog breeds. Package 3 is for large dog breeds. All three packages
                        include a free bath!
                    </p>
                    <div class="column">
                        <img src="images/haircutdog.jpg" style="width:100%">
                        <p>Haircuts: $12</p>
                    </div>
                    <div class="column">
                        <img src="images/cat-toothbrushing.jpg" alt="teeth brushing cat" style="width:100%">
                        <p>Teeth Brushing: $10</p>
                    </div>
                    <div class="column">
                        <img src="images/naildog.jpg" style="width:100%">
                        <p>Nail Clipping: $15</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <img src="images/smalldog.jpeg" alt="small dog" style="width:100%">
                        <p>Package 1: $75</p>
                    </div>
                    <div class="column">
                        <img src="images/mediumdog.jpg" alt="medium dog" style="width:100%">
                        <p>Package 2: $85</p>
                    </div>
                    <div class="column">
                        <img src="images/largedog.jpeg" alt="large dog" style="width:100%">
                        <p>Package 3: $95</p>
                    </div>
                </div>
                <span class="sentence"></span>
            </div>
        </article>
    </div>

    <!-- Footer -->
    <footer>
        <p>
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            Janis Gonzalez -
            <a href="https://www.bellevue.edu/">Bellevue University</a>
        </p>
    </footer>
</body>

</html>