<!--
    ==============================================
    ;   Title: header.ejs
    ;   Author: Janis Gonzalez
    ;   Date: 3/04/2023
    ;   Description: header page for pets-r-us
    ==============================================
    -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/pets-r-us/public/styles/site1.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <a href="index.ejs" class="active">HOME</a>
        <a href="boarding.ejs">BOARDING</a>
        <a href="grooming.ejs">GROOMING</a>
        <a href="training.ejs">TRAINING</a>
        <a href="register.ejs">REGISTRATION</a>
        <a href="customer-list.ejs">CUSTOMERS</a>
        <a href="appointment.ejs">APPOINTMENTS</a>
    </div>

    <header>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fas fa-bars" id="menuIcon"></i>
        </a>

    </header>