<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/site.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <a href="" class="active">HOME</a>
        <a href="">BOARDING</a>
        <a href="">GROOMING</a>
        <a href="">TRAINING</a>
        <a href="">REGISTRATION</a>
        <a href="">CUSTOMERS</a>
        <a href="">APPOINTMENTS</a>
    </div>

    <header>

    </header>

    <div>

        <article>
            <h2>ABOUT</h2>
            <div class="boxy">
                <div class="aboutimg">
                    <img src="" alt="" style="width:100%">
                </div>
                <p>Pets-R-Us are here for all your pet needs! We offer a variety of different services from grooming, training and boarding. We are always ready to help with your pet related needs. Pets-R-Us understands the value of your beloved pet and
                    knows that they need extra care and affection. Our staff are all skilled and always available for your needs with a bright smile!</p>
                <span class="sentence">Visit us today or schedule an appointment to see for yourself!</span>
            </div>
        </article>
        <hr />
        <!-- Testimonials -->
        <section class="testimonials">
            <h2>Testimonials</h2>
            <div class="testimonial-content">
                <p class="quote">
                    Pets-R-Us are lifesavers! I have a hard time bathing my cat and they are always there when we need them. Peach is always happy after being groomed and always comes back smelling fresh and rosy! They also include a bowtie every time. Couldn't recommend
                    them enough.
                </p>
                <p class="author">- Tiffany, USA</p>
                <p class="quote">
                    I can't recommend Pets-R-Us enough! I'm always telling all my friends and family about their fantastic services.
                </p>
                <p class="author">- Gregory, Uptown</p>
                <p class="quote">
                    I am a busy mom with three fur-babies to add to my little household chaos. But with the help of Pets-R-Us my beloved fur-babies have gotten the training I so desperately needed. They don't make a mess of every living room furniture I have anymore. Pets-R-Us
                    are literally so helpful when it comes to anything pet related. They answered all my questions and helped me be able to continue training my fur-babies myself. Five stars!!
                </p>
                <p class="author">- Kayla, Michigan</p>
                <p class="quote">
                    There are times when I need extra hands to handle my dog Sebastian. He's a big boy so it's difficult to bathe him most times especially with my bad hip. Pets-R-Us always do a great job with their grooming services that Sebastian just loves going there.
                    If you are hesitant about contacting Pets-R-Us for their services, look no further! Book one now!
                </p>
                <p class="author">- Alistor, Oregon</p>
            </div>
        </section>
        <hr />
        <section class="featured-pet">
            <h2>Featured Pet of the Week</h2>
            <div class="featured-pet-content">
                <div>
                    <p class="featured-pet-bio">
                        Mila is a young black cat from California. She loves cuddles from everyone and is always willing to play with anyone that shows her a dangly piece of string. Mila especially loves jumping on counters and finding new things to explore. She isn't afraid
                        of dogs and instead is friendly around them. She doesn't like treats, but will try to snatch up a snack if left on a counter for long!
                    </p>
                    <img class="featured-pet-photo" src="images\milacat.jpg" alt="Featured Pet of the Week is Mila, a black young cat" />
                </div>
            </div>
        </section>
        <!-- Hours -->
        <section class="hours">
            <h2>Store Hours</h2>
            <div class="hours-content">
                <div>
                    <!-- Schedule -->
                    <div class="card">
                        <div class="card-title">Store Hours</div>
                        <div class="card-content">
                            <ul>
                                <li>Monday 9:00 AM - 10:00 PM</li>
                                <li>Tuesday 9:00 AM - 10:00 PM</li>
                                <li>Wednesday 9:00 AM - 10:00 PM</li>
                                <li>Thursday 9:00 AM - 10:00 PM</li>
                                <li>Friday 9:00 AM - 7:00 PM</li>
                                <li>Saturday 9:00 AM - 7:00 PM</li>
                                <li>Sunday CLOSED</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
        <!-- Contact us -->
        <section class="contact">
            <h2>Contact Us</h2>
            <p>Want more information? Send us an email!</p>
            <form>
                <input type="email" placeholder="Email" />
                <a href="" class="btn btn-primary">Send</a>
            </form>
        </section>
    </div>

    <!-- Footer -->
    <footer>
        <p>
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            Janis Gonzalez -
            <a href="https://www.bellevue.edu/">Bellevue University</a>
        </p>
    </footer>
</body>

</html>