<!----
======================================
; Title: my-appointments.ejs 
; Author: Janis Gonzalez
; Date: 3/03/23
; Description: appointments for WEB-340
; Sources Used: N/A
;=====================================
---->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/pets-r-us/public/styles/site1.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>

    <!--Calls the header (navbar) file-->
    <%- include('partials/_header.ejs') %>

        <section>
            <br>

            <div class="contact-container">
                <h2> Pets-R-Us: My Appointments</h2>
                <div class="card-title">Welcome to the Pets-R-Us Appointment Lookup Page.
                </div>
                <p>To view your appointments that you have booked for any of our services at Pets-R-Us, type in your e-mail address that you used during the customer registration process.</p>
                <div class="card-content">
                    <div class="form full-width">

                        <div class="form-field">
                            <label for="lastName">Email Address:</label><br />
                            <input type="text" class="input" name="email" id="email" required>
                        </div>

                        <div class="form-field">
                            <input type="submit" value="Search" id="search" class="btn btn-primary full-width">
                        </div>
                    </div>

                    <div class="center-div" id="appointments"></div>
                </div>
            </div>
        </section>



        <script>
            // establish the on-click function for the search button
            document.getElementById('search').onclick = function() {
                const email = document.getElementById('email').value;
                // fetches the email data from the appointments database on MongoDB using the inputted email address as the search value
                fetch('/api/appointments/' + email)
                    .then(res => res.json())
                    .then(data => {
                        let tableString = `<br><h4 style="font-size: 32px; text-align: center; padding-bottom: 10px; font-weight: lighter">My Appointments</h4><table id="appointments" style="width: 100%;" class="table full-width"><tr><th>First name</th><th>Last name</th><th>Email</th><th>Service</th></tr>`;

                        // creates a row for each appointment that matches the data
                        for (let appointment of data) {
                            tableString += `<tr><td>${appointment.firstName}</td><td>${appointment.lastName}</td><td>${appointment.email}</td><td>${appointment.service}</td></tr>`;
                        }
                        // close the table
                        tableString += `</table>`;
                        // bind the table data to the appointments div
                        document.getElementById('appointments').innerHTML = tableString;
                    });
            }
        </script>

        <br><br><br><br>

        <!--Calls the footer file-->
        <%- include('partials/_footer.ejs') %>


</body>

</html>