<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/css/site1.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>
    <div class="navbar">
        <a href="" class="active">HOME</a>
        <a href="">BOARDING</a>
        <a href="">GROOMING</a>
        <a href="">TRAINING</a>
        <a href="">REGISTRATION</a>
        <a href="">CUSTOMERS</a>
        <a href="">APPOINTMENTS</a>
    </div>


    <header>

    </header>

    <div>
        <article>
            <h2>TRAINING</h2>
            <div class="boxy">
                <div class="row">
                    <p class="grooming-paragraph">
                        With Pets-R-Us dog training, your beloved pet will learn valuable lessons. These lessons are aimed for dogs of all ages, ranging from puppies to older pets. The training will help your beloved pet how to act properly in various situations varying from
                        being at home to traveling.
                    </p>
                    <div class="column">
                        <p> Training Level 1 ($99): A 5 week course that is designed for pets that need introductory behaviors in socialization as well as common challenges.</p>
                        <ul>
                            <li>Potty Training</li>
                            <li>Chewing</li>
                            <li>Barking</li>
                        </ul>
                    </div>
                    <div class="column">
                        <p>Training Level 2 ($110): A 5 week course that is designed for pets that have met the introductory behaviors in socialization as well as common challenges course.</p>
                        <ul>
                            <li>Establishing behaviors and routines.</li>
                            <li>Introduction of commands</li>
                        </ul>
                    </div>
                    <div class="column">
                        <p>Complete Package 1 ($210): A 12 week complete training package that includes:</p>
                        <ul>
                            <li>Training Level 1</li>
                            <li>Training Level 2</li>
                            <li>Any 1 Adult class</li>
                            <li>Plus a 1 hour private lesson!</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <p>Adult Training Level 1 ($110): A 5 week group course that is designed for pets and owners that will help with better communication and dog training.</p>
                        <ul>
                            <li>Loose leash walking</li>
                            <li>'Wait'</li>
                            <li>'Stay'</li>
                        </ul>
                    </div>
                    <div class="column">
                        <p>Training Level 2 ($110): A 5 week group course that is designed for pets and owners that expands on the behaviors and cues learned in Adult Training Level 1.</p>
                        <ul>
                            <li>More advanced and complex training techniques.</li>
                            <li>Fun games to help keep your dog physically and mentally stimulated.</li>
                        </ul>
                    </div>
                    <div class="column">
                        <p>Complete Adult Package 1 ($250): A 12 week complete training package that includes:</p>
                        <ul class="remove-bullets">
                            <li>Adult Training Level 1</li>
                            <li>Adult Training Level 2</li>
                            <li>Plus a 1 hour private lesson!</li>
                        </ul>
                    </div>
                </div>
                <article>
                    <h2>TRAINING</h2>
                    <div class="boxy">
                        <div class="aboutimg">
                            <img src="" alt="" style="width:100%">
                        </div>
                        <p>Hello my name is Aleksi and I am the trainer here at Pets-R-Us. I enjoy meeting all the pets coming to train with me. I have been training various kinds of animals for 10 years and hope to continue to do so for as long as I can.
                            My favorite thing is when new pets come in and leave learning a new thing or two from me. I hope to meet you and your beloved pet soon!</p><img class="featured-pet-photo" src="images\trainer.jpg" alt="Featured trainer" />
                    </div>
                </article>
                <hr />
            </div>
        </article>
    </div>

    <!-- Footer -->
    <footer>
        <p>
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            Janis Gonzalez -
            <a href="https://www.bellevue.edu/">Bellevue University</a>
        </p>
    </footer>
</body>

</html>